textarea{
    width: 425px;
    height: 80px;
    background-color: #FFF;
    resize: none;
}
.comment-box{
    width: 845px; 
    padding: 20px; 
    margin-bottom: 4px; 
    border-radius: 4px ;
    background-color:#FFF;

}
